nbproject
/.vs
/x64
/test
/node_modules
/java/.gradle
/java/gradle
/.idea
/node/package-lock.json
/python/venv
/go/pkg
/go/.idea
/java/modules/glaive.ide.netbeans/branding/target/
/java/modules/glaive.ide.netbeans/application/target/